/* reset */
*{
  margin: 0;
  padding: 0;
}
/* potograph */
body{
  font-size: 0.875em;
  color: #333;
}
/* 레이아웃설정 */
.wrap{
  width: 100%;
  margin: 0 auto;
  background-color: #ccc;
}
header{
  min-height: 150px;
  /* margin-top: 50px; */

  background-color: #999;
}
.slider{
  /* margin-top: 50px; */
  padding: 1rem;
  min-height: 200px;
  box-sizing: border-box;
  background-color: #ef8;

}
main{
  background-color: #f8e;
}
main .container{
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}

/* float 지정한 요소 뒤에 있는 inline에 영향을 제거 */
main .container::after{
  content: '';
  display: block;
  clear: both;
}

main section{
  width: 33.3333%;
  min-height: 200px;
  background-color: #8fe;
  border: 1px solid #000;
  box-sizing: border-box;
  opacity: 0.5;
}
section:nth-of-type(1){float: left;}
section:nth-of-type(2){float: left;}
section:nth-of-type(3){float: left;}