/* 하단 */
.footer_margin {margin-top:100px;}
#footer {width:100%;margin:0 auto;padding:0;background:#e5e5e5;overflow:hidden;
box-sizing: border-box;}
#footer .inner {max-width:1680px;width:92%;margin:0 auto;padding:100px 0;color:#1a1a1a;display:flex;align-items:flex-start;justify-content:space-between;flex-wrap:wrap;flex-direction:row; box-sizing: border-box;}
#footer .inner > div {
  /* flex-basis:50%; */
  box-sizing: border-box;
}

/* 하단 로고 */
#footer .inner .bt_logo {
  order: 1;
  flex-basis: 25%;
  margin-bottom:50px;line-height:1;font-size:40px;}
#footer .inner .bt_logo img {max-width:400px;max-height:60px;}

/* 하단 메뉴 */
#footer .inner .bt_util {
  order: 5;
  flex-basis: 30%;
  margin-bottom:50px;}
#footer .inner .bt_util ul {display:flex;justify-content:flex-end;flex-wrap:wrap;
padding-top: 46px;}
#footer .inner .bt_util ul li {margin-left:20px;margin-bottom:10px;}
#footer .inner .bt_util ul li a {display:block;font-size:14px;font-weight:400;color:#1a1a1a;line-height:1;white-space:nowrap;}
#footer .inner .bt_util ul li a strong {font-weight:500;color:#1a1a1a;}

/* 하단 전화번호 */
#footer .inner .bt_tel {
  order: 2;
  flex-basis: 50%;/*.inner 자식 플렉스아이템 flex-basis*/
  display: flex;
  /*.bt.tel 플렉스 컨테이너*/
  font-size:14px;font-weight:400;color:#1a1a1a;line-height:1.6;}
  #footer .inner .bt_tel > div {
    flex-basis: 50%;/*직계자식3개-html*/
    box-sizing: border-box;
  }
#footer .inner .bt_tel .bt_title {font-size:16px;font-weight:700;margin-bottom:10px;}
#footer .inner .bt_tel .bt_txt01 {margin-top:10px;}
#footer .inner .bt_tel .bt_txt01 > strong {font-weight:600;}
#footer .inner .bt_tel .bt_txt01[data-ez-item='email'] > strong,
#footer .inner .bt_tel .bt_txt01[data-ez-item='runtime'] > strong {display:block;}
#footer .inner .bt_tel .bt_txt03 {margin-top:0px;}
#footer .inner .bt_tel .bt_txt03 .bt_title_sub  > strong {font-weight:600;}
#footer .inner .bt_tel .pdr10 {padding-right:10px;}

/* 하단 sns */
#footer .inner .bt_sns {
  order: 3;
  flex-basis:25%;text-align:left;
  max-width: 255px;
}
#footer .inner .bt_sns .bt_title {font-size:16px;font-weight:700;margin-bottom:10px;font-family:"Noto Sans KR", Arial, sans-serif !important;}
#footer .inner .bt_sns .bt_sns_box {display:flex;justify-content:flex-end;}
#footer .inner .bt_sns a {margin-left:0px;
  margin-right: 10px; font-size:0 !important;}
#footer .inner .bt_sns a svg {width:33px;height:33px;}
#footer .inner .bt_sns a svg path {fill:#949494;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
#footer .inner .bt_sns a:hover svg path {fill:#1a1a1a;}

/* 하단 쇼핑몰정보 */
#footer .inner .bt_info {
  order: 4;
  flex-basis: 70%;
  
  text-align:left;}
#footer .inner .bt_info .bt_title {font-size:16px;font-weight:700;color:#1a1a1a;margin-bottom:10px;line-height:1.6;}
#footer .inner .bt_info .bt_info_list {display:flex;flex-wrap:wrap;justify-content:flex-end;max-width:none;font-size:14px;font-weight:400;color:#1a1a1a;line-height:2.2;margin:0 0 0 auto;}
#footer .inner .bt_info .bt_info_list a {font-size:14px;font-weight:400;color:#1a1a1a;line-height:2.2; }
#footer .inner .bt_info .bt_info_list > div {margin:0 0 0 10px;}
#footer .inner .bt_info .bt_info_list > div span:first-child {font-weight:600;}

/* 하단 에스크로 */
#footer .inner .bt_dummy{
  order: 7;
  flex-basis: 30%;
}
#footer .inner .bt_escrow {margin-top:30px;}
#footer .inner .bt_escrow a {font-size:0;display:flex;align-items:center;}
#footer .inner .bt_escrow a span {font-size:12px;font-weight:300;color:#a8a8a8;line-height:1.6;width:350px;word-break:keep-all;}
#footer .inner .bt_escrow a img {margin-right:10px;display:none;}
#footer .inner .bt_escrow a img.on {display:block;}

/* 하단 카피라이트 */
#footer .inner .bt_copyright {
  order: 6;
  flex-basis: 70%;
  
  font-size:12px;font-weight:400;color:#a8a8a8;line-height:1.6;text-align:left;margin-top:30px;}
