@charset "utf-8";

*{margin: 0 auto; padding: o; box-sizing: border-box;}
ul,ol,li{list-style: none;}

/* 슬라이더 */
.mainVisual{
  width: 100%;
  border: 2px solid #f00;
}
.mainVisual li{
  width: 100%;
}
.mainVisual li img{
  width: 100%;
  height: 100%;
}